@import '../../index.scss';

.search__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background-dark;
  width: 100vw;
  min-height: 100vh;
}

.user {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
